<%- include('../_config', { extend: {
	relativePath: '..',
	page: {
		id: 'evening',
		title: '採用情報',
		description: '',
	}
}}); %><%- include('../_header'); %>
					<section class="p-evening__family">
						<div class="l-inner --sevent">
							<div class="p-evening__familyText">
								<h2 class="c-heading2">＼ひるとよるFamily募集！／</h2>
								<p class="c-text1">
									あなたも"ひるとよる"の一員になりませんか??<br>
									元気で明るいスタッフがいっぱい☆<br>
									みんなフレンドリーなので新人さんもスグに馴染めます♪<br>
									仕事も遊びも"全力"な私たちが首を長～くしてお待ちしてます！
								</p>
							</div>
							<div class="l-table">
								<table class="l-table__content">
									<tr>
										<th class="l-table__th">仕事内容</th>
										<td class="l-table__td">
											<div class="l-table__flex">
												<div class="l-table__flexCol">
													<p>＜ホール＞</p>
													<ul>
														<li>注文/レジ</li>
														<li>料理の提供</li>
														<li>皿洗い など</li>
													</ul>
												</div>
												<div class="l-table__flexCol">
													<p>＜キッチン＞</p>
													<ul>
														<li>調理</li>
														<li>盛付け</li>
														<li>皿洗い など</li>
													</ul>
												</div>
												<div class="l-table__flexCol">
													<p>＜経理事務＞</p>
													<ul>
														<li>一般経理</li>
														<li>一般事務</li>
														<li>HP更新業務 など</li>
													</ul>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<th  class="l-table__th">給与</th>
										<td class="l-table__td">
											<div class="l-table__flex --maxwidth2">
												<div class="l-table__flexCol">
													<p>＜正社員＞</p>
													<p>23万円からスタート</p>
												</div>
												<div class="l-table__flexCol">
													<p>＜アルバイト＞</p>
													<ul>
														<li>10：00～22：00は時給1000円</li>
														<li>22：00～翌3：00は時給1250円</li>
													</ul>
												</div>
											</div>
											<p>※昇給あり&nbsp;&nbsp;&nbsp;&nbsp; ※プチボーナスあり（1万円支給）</p>
										</td>
									</tr>
									<tr>
										<th  class="l-table__th">待遇・福利厚生</th>
										<td class="l-table__td">
											<div>
												交通費支給/社員割引あり/まかない(食事)あり<br>
												昇給あり/扶養控除内勤務可/制服貸与<br>
												研修制度あり/社員登用あり（紹介予定派遣含む）
											</div>
										</td>
									</tr>
									<tr>
										<th  class="l-table__th">勤務時間・シフト</th>
										<td class="l-table__td">
											<div>
												<p>
													＜勤務時間＞<br>
													昼/10：00～18：00 夜/18：00～翌3：00
												</p>
												<p>※週1日/1日3hから勤務OK</p>
												<p class="u-mb1">※22時以降働ける方、急募</p>
												<p>例えば…</p>
												<ul>
													<li>主婦(夫)さんなら　[10：00～15：00]</li>
												</ul>
												<p class="u-mb1">
													家事の合間や子どものお迎えまで♪<br>
													平日のみOKだから家族との時間も大切にできる◎<br>
													お昼メインの学生さんも多数活躍中!!
												</p>
												<ul>
													<li>フリーターさんなら　[11：00～18：00/22：00～翌3：00]</li>
												</ul>
												<p class="u-mb1">
													フルタイム(実働8h)で稼ぎたい方はもちろん、Wワークも大歓迎◎<br>
													ライフスタイルに合わせて勤務できます！
												</p>
												<ul>
													<li>学生さんなら　[18：00～22：00]</li>
												</ul>
												<p class="u-mb1">
													高校生もOK！放課後にサクッと勤務もできる！！<br>
													"テスト休み"なども考慮します♪
												</p>
												<p>
													＜シフト＞<br>
													勤務日：月・火・水・木・金・土<br>
													シフト自由・自己申告（7日ごとに提出）
												</p>
												<p>※日曜日定休日</p>
												<p class="u-mb1">※年末年始休暇あり・夏季休暇（お盆休み）</p>
												<p>
													お子さんの参観日、旅行、帰省など、ご都合に合わせて予定もしっかり調整できます！！<br>
													終電・終バスのお時間も調整できるのでお気軽にご相談くださいね♪
												</p>
											</div>
										</td>
									</tr>
								</table>
							</div>					
						</div>
					</section>
					<section class="p-evening__accept">
						<div class="l-inner">
							<h2 class="c-heading2">＼応募は電話にて受付中／</h2>
							<span class="c-btnTeven">TEL　092-713-2008</span>
							<div class="p-evening__acceptImg">
								<div class="p-evening__acceptItem" style="background-image: url('<%= getRelativePath("/images/index/hirutoyoru_web1.jpg") %>'); height: 200px"></div>
								<div class="p-evening__acceptItem" style="background-image: url('<%= getRelativePath("/images/index/hirutoyoru_web2.jpg") %>'); height: 200px"></div>
								<div class="p-evening__acceptItem" style="background-image: url('<%= getRelativePath("/images/index/hirutoyoru_web3.jpg") %>'); height: 200px"></div>
							</div>
						</div>
					</section>
<%- include('../_footer'); %>